<mat-card class="example-card">
    <mat-card-header *ngIf="city">
      <mat-card-title>
          Weather in {{city}}
        <mat-spinner diameter="15" *ngIf="isLoading"></mat-spinner>
      </mat-card-title>
      <mat-card-subtitle *ngIf="updatedAt">updated at {{updatedAt.toLocaleDateString()}} {{updatedAt.toLocaleTimeString()}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="(weather | async) as w" >
      <p>Temperature: {{ w.main.temp }}°C</p>
      <p>Feels like: {{ w.main.feels_like }}°C</p>
      <p>Min: {{ w.main.temp_min }}°C</p>
      <p>Max: {{ w.main.temp_max }}°C</p>
      <p>Pressure: {{ w.main.pressure }}</p>
      <p>Humidity: {{ w.main.humidity }}</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-stroked-button routerLink="list">Choose city</a>
      <span *ngIf="city">
        <button mat-stroked-button (click)="getWeather()" [disabled]="isLoading">refresh</button>
        <mat-checkbox class="example-margin" (change)="toggleAutoupdate($event)" [checked]="autoupdate">autoupdate</mat-checkbox>
      </span>
    </mat-card-actions>
  </mat-card>

