<mat-card>
    <mat-card-content>
        <form #form (ngSubmit)="addCity(city.value); form.reset();">
            <mat-form-field>
                <input #city matInput placeholder="Enter city name" value="" name="city"/>
            </mat-form-field>
            <button mat-stroked-button>Add</button>
        </form>
        <button mat-stroked-button (click)="editMode = !editMode" style="right: 0">
            edit
        </button>
        <mat-action-list *ngIf="!editMode; else checkList">
            <button mat-list-item (click)="selectCity(city)" *ngFor="let city of (cities | async)"> {{ city }} </button>
        </mat-action-list>
        <ng-template #checkList>
            <button mat-stroked-button (click)="deleteCities(citiesList.selectedOptions.selected); editMode = false">
                Delete selected
            </button>
            <mat-selection-list #citiesList>
                <mat-list-option *ngFor="let city of (cities | async); let i = index" [value]="i"> {{ city }}</mat-list-option>
            </mat-selection-list>
        </ng-template>
    </mat-card-content>
</mat-card>
